<h1>New Zone Candidate</h1>

<div class="container left">
  <%= render 'form', zone_candidate: @zone_candidate %>
<%= link_to 'Back', zone_candidates_path, class:'btn waves-effect waves-light left' %>
</div>

