<h1>Editing Party</h1>

<div class="container left">
  <%= render 'form', party: @party %>

<%= link_to 'Show', @party %> |
<%= link_to 'Back', parties_path, class:'btn waves-effect waves-light left' %>
</div>
