<div class="home">

  <div class="row valign-wrapper">
    <h6 class="left base-blue-dark-text" style="width: 90px; margin: 0;"><b>EVENTOS</b></h6>
    <div class="left divider" style="width: calc(100% - 90px)" ></div>
  </div>

  <!-- Events Row -->
  <div class="row">
    <div class="events col s9 z-depth-2">
      <div class="events-slider left" style="background: blue;">
        <div class="carousel carousel-slider center" style="max-height: 100%">
          <div class="carousel-fixed-item center" style="height: 20px;">
            <a class="btn waves-effect white grey-text darken-text-2" href="#">Ver todos</a>
          </div>
          <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
          </div>
        </div>
      </div>
      <div class="events-description right">
        <h5>Title!</h5>
        <p>
          Text!
        </p>
      </div>
    </div>
    <div class="mural col s3">
      <div class="collection">
        <a href="#!" class="collection-item active center"><b>INSCREVA-SE</b></a>
        <a href="#!" class="collection-item">link1</a>
        <a href="#!" class="collection-item">link2</a>
        <a href="#!" class="collection-item">link3</a>
        <a href="#!" class="collection-item">link4</a>
        <a href="#!" class="collection-item">link5</a>
        <a href="#!" class="collection-item">link6</a>
      </div>
    </div>
  </div>

  <div class="row valign-wrapper">
    <h6 class="left base-blue-dark-text" style="width: 90px; margin: 0;"><b>NOTÍCIAS</b></h6>
    <div class="left divider" style="width: calc(100% - 90px)" ></div>
  </div>

  <!-- News Row -->
  <div class="news-row row">
    <div class="news-collection col s4">
      <div>
        <div class="col s12">
          <div>
            <h6>Title!</h6>
            <p>Body!<br/> Description text! Description text! Description text!</p>
            <a href="#">Veja Mais</a>
          </div>
        </div>
        <div class="col s12">
          <div>
            <h6>Title!</h6>
            <p>Body!<br/> Description text! Description text! Description text!</p>
            <a href="#">Veja Mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="news col s8 z-depth-2">
      <div class="news-description left">
        <h5>Title!</h5>
        <p>
          Text!
        </p>
      </div>
      <div class="news-slider right" style="background: blue;">
        <div class="carousel carousel-slider center" style="max-height: 100%">
          <div class="carousel-fixed-item center" style="height: 20px;">
            <a class="btn waves-effect white grey-text darken-text-2" href="#">Ver todos</a>
          </div>
          <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row valign-wrapper">
    <h6 class="left base-blue-dark-text" style="width: 160px; margin: 0;"><b>ACESSO RÁPIDO</b></h6>
    <div class="left divider" style="width: calc(100% - 160px)" ></div>
  </div>

  <!-- Fast-Acess Row -->
  <div class="fast-acess row">
    <div class="col s2">
      <a class="waves-effect waves-light blue" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light amber" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light green" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light red" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light yellow" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light purple" href="#" >
        <i class="material-icons large">search</i>
        <p>Put a litte title here!</p>
      </a>
    </div>
  </div>
</div>